<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>one</key>
	<array>
		<dict>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>1</string>
		</dict>
		<dict>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>2</string>
		</dict>
		<dict>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>3</string>
		</dict>
		<dict>
			<key>dataId</key>
			<string>1</string>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>4</string>
		</dict>
		<dict>
			<key>dataId</key>
			<string>2</string>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>4</string>
		</dict>
		<dict>
			<key>dataId</key>
			<string>3</string>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>4</string>
		</dict>
		<dict>
			<key>dataId</key>
			<string>4</string>
			<key>dataList</key>
			<array>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
				<dict>
					<key>imagePath</key>
					<string>www.baidu.com</string>
				</dict>
			</array>
			<key>templateCode</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
